.answer {
  margin-bottom: 12px;
  padding: 0;
  font-size: 16px;
  text-align: left;
  background-color: white;
  border: 2px solid #3f8efc;
  cursor: pointer;
  display: flex;
  vertical-align: middle;
}

.answer:hover {
  background-color: rgb(216, 216, 216);
}

.answer:disabled {
  cursor: not-allowed;
  color: black;
}

.answerText {
  padding: 12px;
}

.answerContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 40px;
}

.correctAnswer {
  border: 2px solid green;
}

.wrongAnswer {
  border: 2px solid red;
}

.selectedAnswer {
  background-color: rgb(216, 216, 216);
}

.index {
  margin-right: 12px;
  background-color: #3f8efc;
  padding: 12px;
  color: white;
}
