.button {
  background-color: #4e148c;
  padding: 12px 24px;
  border: 1px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px;
  color: white;
  max-width: 200px;
}

.button:disabled {
  cursor: default;
}

.button:hover:not([disabled]) {
  background-color: #2c0735;
}
